/* RESET RULES */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li{
  list-style: none;
}

/* CONTAINER CENTERING */
.container{
  margin: 0 auto;
}

/* SECTIONS BGs AND PROPORTIONS */
.section-1{
  background-color: blue;
}


/* NAV HEADER */

header{
  padding: 10px 150px;
  background-color: rgba(8, 184, 228, 0.253);
}

/* NAV FLEXBOX */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

.menu{
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* 1st SECTION FLEX */
.section-1{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DEBUG RULES */
.debug .logo, .debug .login{
  border: 1px dashed black ;
  flex-grow: 1;
}
.debug .menu{
  border: 1px dashed black ;
  background-color: orange;
  flex-grow: 2;
}
.debug .navbar{
  background-color: orange;
}

.debug .container{
  height: 200px;
  width: 400px;
  background-color: rgb(252, 5, 149);
}